<div class="page-container">
  <div class="side-bar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">
          <ion-icon name="home"></ion-icon>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="new-user">
          <ion-icon name="contacts"></ion-icon>
          <span>Members</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="employee">
          <ion-icon name="people"></ion-icon>
          <span>Employee</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user-dues">
          <ion-icon name="cash"></ion-icon>
          <span>User Due</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="attendence">
          <ion-icon name="walk"></ion-icon>
          <span>Attendence</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reports">
          <ion-icon name="analytics"></ion-icon>
          <span>Reports</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="notes">
          <ion-icon name="bookmarks"></ion-icon>
          <span>Notes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="packages">
          <ion-icon name="gift"></ion-icon>
          <span>Packages</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="change-password">
          <ion-icon name="key"></ion-icon>
          <span>Change Password</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
